# Copy to .env to override docker-compose defaults.
# LAS2PEER_HTTP_PORT=8080
# LAS2PEER_P2P_PORT=9011
# ETH_RPC_PORT=8545
# NODE_ADMIN_NAME=admin
# NODE_ADMIN_EMAIL=admin@example.org
# CONTRACTS_CONTEXT=../las2peer-registry-contracts
