/output/
/export/
/node-storage/
/.las2peer/
/tmp/
/log/
/lib/
ivy.jar
/service/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/
*.secret
archiva_credentials.xml
/javadoc/
.gradle
.classpath
.project
.settings