/output/
/log
/lib
ivy.jar
/service
/out
/.idea
*.iml
*.DS_Store
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
/junitvmwatcher*.properties
/junit*.properties
/etc/startup
/ivy/ivy.jar
