
// This is the policy file used (only) for RMI service invocations.
// If you want a service to have access to the file system, allow to open network ports
// or change the system logger via RMI calls, add the respective rights below.

// Java directories
grant {
//    permission java.io.FilePermission "${java.home}${/}*", "read";
    permission permission java.security.AllPermission;
};

// Linux system file permissions
grant {
	permission java.io.FilePermission "/dev/random", "read";
	permission java.io.FilePermission "/dev/urandom", "read";
	permission java.io.FilePermission "/tmp", "read";
};

// example: This entry gives access to a local directory called 'localdir'
//     in your LAS2peer installation directory.
//grant {
//	permission java.io.FilePermission "localdir", "read,write"; // the directory itself
//	permission java.io.FilePermission "localdir/*", "read,write"; // all files inside
//};

// If you don't care about your system or use a closed (debugging) environment,
// you can disable security checks by uncommenting the following lines.
// THIS IS USUALLY A VERY BAD IDEA!!!!
//grant {
//    permission permission java.security.AllPermission;
//};

// for further examples and information, please take a look at the Java Permissions documentation
