/output
/export
/node-storage
/.las2peer
/tmp
/log
/lib
ivy.jar
/service
/out
/.idea
*.iml
/.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/startup
*.secret
*.jks
archiva_credentials.xml
/etc/las2peer.policy
