name: Publish artifacts as release to archiva

# Only run the workflow if it is started manually.
on: workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle and publish as release to archiva
      env:
        # set environment variable for release
        LAS2PEER_RELEASE: "yes"
        ARCHIVA_USERNAME: ${{ secrets.ARCHIVA_USERNAME }}
        ARCHIVA_PASSWORD: ${{ secrets.ARCHIVA_PASSWORD }} 
      run: ./gradlew publish
    - name: Upload artifacts on GitHub (attached to this workflow)
      uses: actions/upload-artifact@v2
      with:
        name: las2peer
        path: |
          core/export/jars/las2peer-*.jar
          restmapper/export/jars/las2peer-rest-mapper*.jar
          webconnector/export/jars/las2peer-web-connector*.jar
          bundle/export/jars/las2peer-bundle-*.jar